.hori {
  display: flex;
  flex-direction: row;
  perspective: 200px;
}

.ab2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: rgb(73, 75, 80);
  animation: fade 1s ease-in 1s;
  pointer-events: none;
  font-weight: light;
}
.ab1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: rgb(27, 140, 233);

  animation: fade 1s ease-in 1s;
  pointer-events: none;
  padding-right: 20px;
  animation: fade 1s ease-in 1s;
  pointer-events: none;
}
.shape {
  width: 500px;
  height: 500px;
  background-color: aqua;
  transform: rotateX(45deg);
  transition: all 3s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
