.aoverall {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.abg {
  background-color: rgb(255, 235, 210);
  height: 200vh;
  overflow: hidden;
  margin: 0rem;
}
.abg2 {
  background-color: rgb(230, 229, 229);
  height: 200vh;
  overflow: hidden;
  margin: 0rem;
}
.track {
  object-fit: cover;
  object-position: center;
}

.img-track {
  display: flex;

  gap: 8vmin;
  overflow-y: auto;
  scrollbar-width: 5px;
  scroll-snap-align: initial;
  margin: 10px;
  scroll-snap-type: both mandatory;
}

.so {
  font-size: 35px;
  background: rgb(206, 52, 52);
  border: 1px solid rgb(236, 222, 222);
  border-radius: 30px;
  height: 100px;
  width: 200px;
}

.si2 {
  font-size: 35px;
  background: rgb(72, 217, 94);
  border: 1px solid rgb(236, 222, 222);
  border-radius: 30px;
  height: 100px;
  width: 200px;
}
.so:hover,
.so:focus-visible {
  background: white;
  color: rgb(206, 52, 52);
}

.si {
  font-size: 35px;
  background: rgb(72, 217, 94);
  border: 1px solid rgb(236, 222, 222);
  border-radius: 30px;
  height: 100px;
  width: 200px;
}

.si:hover,
.si:focus-visible {
  background: white;
  color: rgb(72, 217, 94);
}

.ab {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: rgb(96, 154, 255);
  pointer-events: none;
  font-weight: bold;
  text-align: center;
}

P {
  color: rgb(36, 35, 35);
}
