@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap");

* {
  box-sizing: border-box;
}

.title {
  font-family: "Ysabeau SC";
  color: rgb(184, 209, 252);
  font-size: 50px;
  font-weight: bold;
  text-decoration-line: underline;
}

.overall {
  background-color: white;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: first baseline;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

input {
  border: 3px solid #000405;
}

input:invalid {
  color: gray;
}

input:focus {
  outline: 5px solid rgb(184, 209, 252);
}

.input-box {
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(202, 85%, 3%);
}

select {
  color: black;
  border: 3px solid #000405;
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 0.25em;
}

select:focus {
  outline: 5px solid rgb(184, 209, 252);
}

select:invalid {
  color: gray;
}

select :nth-child(1) {
  color: gray;
}

select :nth-child(2),
select :nth-child(3),
select :nth-child(4) {
  color: black;
}

::placeholder {
  color: #999;
  opacity: 1;
}

button {
  width: 200px;
  font-size: 30px;
  height: 50px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  color: hsl(0, 11%, 98%);
}

.sub {
  background: rgb(72, 217, 94);
  border: 1px solid rgb(72, 217, 94);
}

.reset {
  background: rgb(206, 52, 52);
  border: 1px solid rgb(206, 52, 52);
}

.sub:hover,
.sub:focus-visible {
  color: rgb(72, 217, 94);
  background: hsl(210, 8%, 95%);
}

.reset:hover,
.reset:focus-visible {
  color: rgb(206, 52, 52);
  background: hsl(210, 8%, 95%);
}

li {
  color: black;
}

@media (orientation: portrait) or (max-width: 1100px) {
  button {
    font-size: 16px;
    width: 100px;
    height: 50px;
  }
  .title {
    font-size: 20px;
  }

  .input-box {
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    padding: 10px;
  }
  select {
    font-size: 16px;
    font-weight: bold;
    width: 60%;
  }
  .overall {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .col {
    padding: 0.25rem;
  }
}
