@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap");

.h12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(16, 16, 17);
}

.h13 {
  font-family: "Dancing Script";
  color: rgb(184, 209, 252);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 5%;
  clip-path: block;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(16, 16, 17);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  font-family: "Ysabeau SC";
  color: rgb(184, 209, 252);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}

.navbar a:hover {
  color: rgb(254, 252, 252);
}

.navbar li {
  float: right;
}
