.App-link {
  color: #61dafb;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgb(3, 3, 3) 0%,
    rgba(248, 248, 248, 0.937) 100%
  );
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.new-item-form {
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(202, 85%, 3%);
}

input {
  border: 3px solid #000405;
}
input:invalid {
  color: gray;
}

input:focus {
  outline: 5px solid #0bd5f8;
}

select {
  color: black;
  border: 3px solid #000405;
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 0.25em;
}

select:focus {
  outline: 5px solid #0bd5f8;
}

select:invalid {
  color: gray;
}

::placeholder {
  color: #999;
  opacity: 1;
}

button {
  width: 200px;
  font-size: 30px;
  height: 50px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  color: hsl(0, 11%, 98%);
}

.btn {
  background: rgb(39, 157, 216);
  border: 1px solid hsl(200, 100%, 50%);
}
.sub {
  background: rgb(39, 216, 66);
  border: 1px solid hsl(144, 100%, 50%);
}

.btn-clear {
  background: hsla(0, 89%, 43%, 1);
  border: 1px solid hsl(0, 88%, 49%);
}

.btn:hover,
.btn:focus-visible {
  color: rgb(39, 157, 216);
  background: hsl(210, 8%, 95%);
}

.sub:hover,
.sub:focus-visible {
  color: rgb(39, 216, 66);
  background: hsl(210, 8%, 95%);
}

.btn-clear:hover,
.btn-clear:focus-visible {
  color: hsla(0, 89%, 43%, 1);
  background: hsl(210, 8%, 95%);
}
