.App-link {
  color: #61dafb;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgb(3, 3, 3) 0%,
    rgba(248, 248, 248, 0.937) 100%
  );
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.btn {
  width: 200px;
  font-size: 30px;
  height: 50px;
  background: rgb(39, 157, 216);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(210, 8%, 95%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.btn-clear {
  width: 200px;
  font-size: 30px;
  height: 50px;
  background: hsla(0, 89%, 43%, 1);
  border: 1px solid hsl(0, 88%, 49%);
  color: hsl(0, 11%, 98%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(200, 100%, 50%, 0.2);
}

.btn-clear:hover,
.btn-clear:focus-visible {
  background: hsl(0, 100%, 40%, 0.2);
}

.top {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  color: hsl(150, 20%, 98%);
}

.new-item-form {
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(202, 85%, 3%);
}

.hori {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border: 3px solid #000405;
}
input:invalid {
  color: gray;
}

input:focus {
  outline: 5px solid #0bd5f8;
}

select {
  color: black;
  border: 3px solid #000405;
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 0.25em;
}
select:focus {
  outline: 5px solid #0bd5f8;
}

select:invalid {
  color: gray;
}

::placeholder {
  color: #999;
  opacity: 1;
}
